<h1>Hola</h1>

<div class="mainContainer">
  {{#each videogames}}
    <div class="videogameCard">
      <p class="title">{{this.title}}</p>
      {{#if this.price}}
        <p class="price">{{this.price}}</p>
      {{else}}
        <p class="price">Gratis</p>
      {{/if}}
      <img src={{this.images.0}} />
      <p class="description">{{this.description}}</p>
      <br />
      <button onclick="addVideogame('{{this._id}}')">Agregar a mi librería</button>
    </div>
  {{/each}}
</div>

<div class="paginationPanel">
  {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}"><button>Anterior</button></a>
  {{/if}}

  <h4>{{page}}</h4>

  {{#if hasNextPage}}
    <a href="/?page={{nextPage}}"><button>Siguiente</button></a>
  {{/if}}
</div>

<script src="/js/home.js"></script>