 {{!-- <div>
  <h1>Hola {{names}} que gusto encontrarte aca!</h1>
</div>  --}}
<>
  <h1>Hola {{user.name}} bienvenido!</h1>
  {{#if isAdmin}}
    {{#each food}}
    <div>
      <p>{{this.name}}</p>
      <p>{{this.price}}</p>  
      </div>
      {{/each}}
    {{else}}
      <p>No tienes permisos para ver esta pagina</p>
    {{/if}}
    
</div>

<script src="/js/index.js"></script>